{
  "presets": [
    ["@babel/env"],
    "@babel/stage-2",
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-syntax-class-properties",
    "@babel/plugin-syntax-decorators",
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-transform-object-assign",
    "react-hot-loader/babel"
  ]
}